<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LetterBoxe</title>
  <link rel="stylesheet" href="/css/site.css" />
  <script defer src="/js/main.js"></script>
</head>
<body>

  <%- include('partials/header') %>

  <section class="hero">
    <h1>Discover. Rate. React.</h1>
    <p>Your personal cinema universe.</p>
    <a href="/movies" class="cta-btn">Explore Films</a>
  </section>

  <%- include('partials/NewReleases') %>
  <%- include('partials/PopularMovies') %>
  <%- include('partials/footer') %>

</body>
</html>
